<div class="container">
<div class="row" style="margin-top: 0.75rem">
  <div class="push-s2">
    <h3 style="display: inline">Hello </h3><h3 class="post-title-color" style="display: inline"><%= @user.first_name %></h3>
    <p>Keep us up to date with your current information</p>
    <%= form_for @user do |f| %>
    <div>
      <%= f.label :first_name%>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name%>
      <%= f.text_field :last_name %>
    </div>
    <div>
      <%= f.label :city%>
      <%= f.text_field :city %>
    </div>
    <div>
      <%= f.label :state%>
      <%= f.text_field :state %>
    </div>
    <div>
      <%= f.label :country%>
      <%= f.text_field :country %>
    </div>
    <div>
      <%= f.label :image%>
      <%= f.url_field :image %>
    </div>
    <div>
      <%= f.label :email%>
      <%= f.email_field :email %>
    </div>
    <%= f.submit "Save Changes", class: "btn" %>
    <% end %>
   </div>
 </div>
 </div>
