<div class="container">
<div class="row" style="margin-top: 0.75rem">
  <div class="push-s2">
    <h3 style="display: inline">Hello </h3><h3 class="post-title-color" style="display: inline"><%= @user.first_name %></h3>
    <p>Update Password</p>
    <%= form_for @user do |f| %>
    <div>
      <%= f.label :password%>
      <%= f.text_field :password %>
    </div>
    <%= f.submit "Save Changes", class: "btn" %>
    <% end %>
   </div>
 </div>
 </div>
