<h1>Edit Post</h1>
<!--We removed turbolinks  -->
<%= form_for @post, method: "patch" do |f| %>
<div>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.text_field :description %>
</div>
<div>
  <% if @post.location.city.to_s == "St. Petersburg" %>
  Location:city:<%= select(:location, :city, [['St. Petersburg', 'St. Petersburg'], ['Paris', 'Paris'], ['London', 'London'], ['Barcelona', 'Barcelona']]) %>
  <% elsif @post.location.city.to_s == "Paris" %>
  Location:city:<%= select(:location, :city, [['Paris', 'Paris'], ['London', 'London'], ['Barcelona', 'Barcelona'], ['St. Petersburg', 'St. Petersburg']]) %>
  <% elsif @post.location.city.to_s == "London" %>
  Location:city:<%= select(:location, :city, [['London', 'London'], ['Barcelona', 'Barcelona'], ['St. Petersburg', 'St. Petersburg'], ['Paris', 'Paris']]) %>
  <% else %>
  Location:city:<%= select(:location, :city, [['Barcelona', 'Barcelona'], ['St. Petersburg', 'St. Petersburg'], ['Paris', 'Paris'], ['London', 'London']]) %>
  <% end %>
</div>
<%= f.submit "Save Changes", class: "btn" %>

<% end %>
