<h1>Edit Post</h1>
WHY DOES LOCATION NOT LOAD AUTOMATICALLY?
<%= form_for :post, url?: "/users/#{current_user}/posts/#{@post.id}", method: "patch"  do |f| %>
<div>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.text_field :description %>
</div>
<div>
  Location:<%= select(:location, :city, [['San Francisco', 'San Francisco'], ['London', 'London'], ['Gibraltar', 'Gibraltar']]) %>
</div>
<%= f.submit "Save Changes", class: "btn" %>
<% end %>
