<h1>Create a post</h1>
<%= form_for @post do |f| %>
<div>
  Title: <%= f.text_field :title %>
</div>
<div>
  Description: <%= f.text_field :description %>
</div>
<div>
  Image: <%= f.url_field :image %>
</div>
<div>
  <% if params[:location_id] == "St. Petersburg" %>
  Location:city:<%= select(:location, :city, [['St. Petersburg', 'St. Petersburg'], ['Paris', 'Paris'], ['London', 'London'], ['Barcelona', 'Barcelona']]) %>
  <% elsif params[:location_id] == "Paris" %>
  Location:city:<%= select(:location, :city, [['Paris', 'Paris'], ['London', 'London'], ['Barcelona', 'Barcelona'], ['St. Petersburg', 'St. Petersburg']]) %>
  <% elsif params[:location_id] == "London" %>
  Location:city:<%= select(:location, :city, [['London', 'London'], ['Barcelona', 'Barcelona'], ['St. Petersburg', 'St. Petersburg'], ['Paris', 'Paris']]) %>
  <% else %>
  Location:city:<%= select(:location, :city, [['Barcelona', 'Barcelona'], ['St. Petersburg', 'St. Petersburg'], ['Paris', 'Paris'], ['London', 'London']]) %>
  <% end %>
</div>
<%= f.submit "Create Post", class: "btn" %>
<% end %>
