


<h3>Title:<%= @post.title %></h3>
<hr>
<p>Location:<%= @post.location.city %></p>
<hr>
<p>Author:<%=  @post.user.first_name %> <%=  @post.user.last_name %></p>
<hr>
<p>Description:<%=  @post.description %></p>
<br>


<br><br>

<% if session[:user_id].nil? || session[:user_id] != @post.user.id %>
<% else %>
  <%= link_to "Edit Post", edit_post_path(@post.id), class: "btn btn-default" %>
<% end %>
