<div class="content" style="position: relative; top: 20px">
  <div class="header">
    <p>Traveling abroad in Europe? Take a tour and discover what there is to offer from travelers just like yourself. Here you will have the ability to see Europe as they saw it through their eyes. Take a peak at all the reviews and enjoy. We can't wait to hear from you next!</p>
  </div>
<!-- BEGIN locations -->

<div class="container-fluid">
  <div class="row valign" style="vertical-align:top">

    <% @locations.each do |location| %>
    <div class="col s12 m6">
      <div class="card" style="background-image: url('<%= asset_path(location.background_image) %>'); border-radius: 0">
        <div class="card-content white-text">
          <span class="title text-shadow"><h3><%= location.city %></h3></span><br>
          <p><span class="text-shadow"><%= location.description %></span></p><br><br>
          <img src="<%= asset_path(location.icon_image) %>" style="width:125px"><br><br><br>
        <%= link_to "DISCOVER #{location.city.upcase}", location_path(location.slug), class: "btn-card text-shadow btn-hover" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<!-- END locations -->
