<div class="content" style="position: relative; top: 100px">
  <div class="header">
    <p>Traveling abroad in Europe? Take a tour and discover what there is to offer from travelers just like yourself. Here you will have the ability to see Europe as they saw it through their eyes. Take a peak at all the reviews and enjoy. We can't wait to hear from you next!</p>
  </div>
<!-- BEGIN locations -->

<div class="container-fluid">
  <div class="row valign" style="vertical-align:top">

    <% @locations.each do |location| %>
    <div class="col m12 l6">
      <div class="card" style="background-image: url('<%= location.background_image %>'); border-radius: 0">
        <div class="card-content white-text">
          <span class="title"><h3><%= location.city %></h3></span><br>
          <p><%= location.description %></p><br><br>
          <img src="<%= location.icon_image %>" style="width:100px"><br><br><br>

        <%= link_to "DISCOVER #{location.city.upcase}", location_path(location.id), class: "btn-card" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<!-- END locations -->
