<div class="parallax-container">
    <div class="parallax">
      <% if @locationposts.sample.image.nil? %>
        <%= image_tag(@location.background_image) %>
      <% else %>
        <%= image_tag(@locationposts.sample.image) %>
      <% end %>
      </div>

  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header title"><%= @location.city %></h2>
      <!-- BEGIN POST data -->
      <% if session[:user_id].nil?  %>
      <% else %>
        <div class="fixed-action-btn">
          <%= link_to new_post_path({:location_id => @location.city}),class: "btn-floating btn-large black" do %>
            <i class="large material-icons">add</i>
          <% end %>
        </div>


      <% end %>
      <% @locationposts.each do |post| %>
        <ul>
          <span><b style="display: inline">Title: </b><p class="post-title-color" style="display: inline"><%= post.title%></p><br></span>
          <b>Author: </b><%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(post.user.slug) %><br>
          <b>Description: </b><%= post.description.slice(0, 210)+"..." %>
          <% if session[:user_id].nil? || session[:user_id] != post.user.id %>
          <%= link_to "Read More", post_path(post.id) %>
          <hr>
          <% else %>
            <%= link_to "Read More", post_path(post.id) %><br>
            <%= button_to "Edit Post", edit_post_path(post.id), class: 'btn btn-inline' %>
            <%= button_to 'Delete', {:controller => "posts", :action => 'show', :id => post.id}, data: {:confirm => "Are you sure you want to delete the #{post.title} post?"}, :method => :delete, class: 'btn btn-2 delete-button' %>
            <hr>
          <% end %>
        </ul>
      <% end %>
      <!-- END POST data -->

      <!-- pagination -->
      <%= paginate @locationposts %>
      <div class="pagination_page_info">
        <%= page_entries_info @locationposts %>
      </div>


    </div>
  </div>



  <div class="parallax-container">
    <div class="parallax">
      <% if @locationposts.sample.image.nil? %>
        <%= image_tag(@location.background_image) %>
      <% else %>
        <%= image_tag(@locationposts.sample.image) %>
      <% end %>
    </div>
  </div>
