<!DOCTYPE html>
<html>
  <head>
    <title>Vegabond</title>
    <!-- Compiled and minified CSS -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar begin -->
    <div class="navbar-fixed">

     <nav style="background-color: white; top: 0">
        <div class="nav-wrapper">
          <img class="brand-logo" src="assets/flatline.png" style="height: 100%; left: 10px;">
            <img class="brand-logo" src="assets/airplane_01.png" style="height: 60%; left: 70px; top: 15px">
            <!-- begin header -->
            <div class="brand-logo valign-wrapper" style="left: 38%">
              <!-- <div style="position: relative"> -->
              <h4 style="display: inline; color: black; left: 50%">TRAVEL</h4><h1 class="title" style="display: inline; color: black;">with</h1><h4 style="display: inline; color: black;">US</h4>
            <!-- </div> -->
            </div>
            <!-- end header -->
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%=link_to "HOME", root_path %></li>
            <% if current_user %>
            <li><%=link_to "PROFILE", user_path(current_user) %></li>
            <li><%=link_to "LOG OUT", logout_path %></li>
            <% else %>
            <li>
              <%=link_to "SIGN UP", href="#sign-up", class:"modal-trigger"%>
            </li>
            <li>
              <%=link_to "LOG IN", href="#sign-in-modal", class:"modal-trigger"%>
            </l1>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><%=link_to "HOME", root_path %></li>
            <% if current_user %>
              <li><%=link_to "PROFILE", user_path(current_user) %></li>
              <li><%=link_to "LOG OUT", logout_path %></li>
            <% else %>
              <li><%=link_to "SIGN UP", new_user_path %></li>
              <li><%=link_to "LOGIN", login_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>


      <!-- navbar end -->

      <!-- Modal Trigger -->
      <div class="modal-for-sign-up">
        <%= form_for (User.new), url:users_path, method: "post" do |f| %>
          <div id="sign-up" class="modal">
            <div class="modal-content">

                <%= render partial: "layouts/user_forms", locals: { f: f } %>
            </div>
          <div class="modal-footer">
        <%= f.submit "Create Account", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
        <% end %>
          </div>
        </div>
      </div>

      <!-- MODAL FOR LOGIN -->
      <%= form_for :user, url: "/sessions", method: "post" do |f| %>
        <div id="sign-in-modal" class="modal">
          <div class="modal-content">
            <%= render partial: "layouts/sign_in", locals: { f: f } %>
          </div>
          <div class="modal-footer">
        <%= f.submit "LOG IN", class: "modal-action modal-close waves-effect waves-green btn-flat", id: "sign-in-button" %>
      <% end %>
        </div>
      </div>




      <!-- <div class="row"> -->
        <div class="col s8 push-s2">
          <% flash.each do |name, msg| %>
           <div id='toast-container'>
             <%= javascript_tag "Materialize.toast('#{msg}', 4000)" %>
           </div>
           <!-- <div class="flashmessage <%= name.capitalize %>"> <%= msg %></div> -->
          <% end %>
        </div>
      <!-- </div> -->
      <%= yield %>
  </body>
</html>
