<!DOCTYPE html>
<html>
  <head>
    <title>Vegabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
  </head>

  <body>
    <!-- navbar begin -->
    <nav style="position: fixed; background-color: white; z-index:1; top: 0">
        <div class="nav-wrapper">
          <img class="brand-logo" src="assets/flatline.png" style="height: 100%; left: 10px;">
            <img class="brand-logo" src="assets/airplane_01.png" style="height: 60%; left: 70px; top: 15px">
            <!-- begin header -->
            <div class="brand-logo valign-wrapper" style="left: 38%">
              <!-- <div style="position: relative"> -->
              <h4 style="display: inline; color: black; left: 50%">TRAVEL</h4><h1 class="title" style="display: inline; color: black;">with</h1><h4 style="display: inline; color: black;">US</h4>
            <!-- </div> -->
            </div>
            <!-- end header -->
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%=link_to "HOME", root_path %></li>
            <% if current_user %>
            <li><%=link_to "PROFILE", user_path(current_user) %></li>
            <li><%=link_to "LOG OUT", logout_path %></li>
            <% else %>
            <li><%=link_to "SIGN UP", new_user_path %></li>
            <li><%=link_to "LOGIN", login_path %></li>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><%=link_to "HOME", root_path %></li>
            <% if current_user %>
            <li><%=link_to "PROFILE", user_path(current_user) %></li>
            <li><%=link_to "LOG OUT", logout_path %></li>
            <% else %>
            <li><%=link_to "SIGN UP", new_user_path %></li>
            <li><%=link_to "LOGIN", login_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
      <!-- navbar end -->
      <% flash.each do |name, msg| %>
      <p>
        <small> <%= name.capitalize %>: <%= msg %> </small>
      </p>
      <% end %>
    <%= yield %>
  </body>
</html>
