<!DOCTYPE html>
<html>
  <head>
    <title>Vegabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar begin -->
    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%=link_to "Home", root_path %></li>
            <% if current_user %>
            <li><%=link_to "Profile", user_path(current_user) %></li>
            <li><%=link_to "Log Out", logout_path %></li>
            <% else %>
            <li><%=link_to "Sign Up", new_user_path %></li>
            <li><%=link_to "Login", login_path %></li>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
        </div>
      </nav>
      <!-- navbar end -->
      <% flash.each do |name, msg| %>
      <p>
        <small> <%= name.capitalize %>: <%= msg %> </small>
      </p>
      <% end %>
    <%= yield %>
  </body>
</html>
