<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <!-- Compiled and minified CSS -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar begin -->
    <div class="navbar-fixed">

     <nav style="background-color: white; top: 0">
        <div class="nav-wrapper">
          <%= link_to root_path do %>
            <%= image_tag(asset_path("logo_travel_with_us.png"), class:"brand-logo", style: "height: 100%") %>
          <% end %>
            <!-- begin header -->
            <div class="brand-logo valign-wrapper hide-on-med-and-down" style="left: 38%">
              <!-- <div style="position: relative"> -->
              <h4 style="display: inline; color: black; left: 50%">TRAVEL</h4><h1 class="title" style="display: inline; color: black;">with</h1><h4 style="display: inline; color: black;">US</h4>
            <!-- </div> -->
            </div>
            <!-- end header -->
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons" style="color: black">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">EXPLORE<i class="material-icons right">arrow_drop_down</i></a></li>
            <% if current_user %>
            <li><%=link_to "PROFILE", user_path(current_user) %></li>
            <li><%=link_to "LOG OUT", logout_path %></li>
            <% else %>
            <li>
              <%=link_to "SIGN UP", href="#sign-up", class:"modal-trigger"%>
            </li>
            <li>
              <%=link_to "LOG IN", href="#sign-in-modal", class:"modal-trigger"%>
            </l1>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><%=link_to "HOME", root_path %></li>
            <% if current_user %>
              <li><%=link_to "PROFILE", user_path(current_user) %></li>
              <li><%=link_to "LOG OUT", logout_path %></li>
            <% else %>
              <li><%=link_to "SIGN UP", new_user_path %></li>
              <li><%=link_to "LOGIN", login_path %></li>
            <% end %>
              <li><%=link_to "BARCELONA", location_path("barcelona-spain") %></li>
              <li><%=link_to "LONDON", location_path("london-uk") %></li>
              <li><%=link_to "PARIS", location_path("paris-france") %></li>
              <li><%=link_to "ST. PETERSBURG", location_path("st-petersburg-russia") %></li>
          </ul>
        </div>
      </nav>
    </div>
      <!-- navbar end -->

      <!-- Modal Trigger -->
      <div class="modal-for-sign-up">
        <%= form_for (User.new), url:users_path, method: "post" do |f| %>
          <div id="sign-up" class="modal">
            <div class="modal-content">

                <%= render partial: "layouts/user_forms", locals: { f: f } %>
            </div>
          <div class="modal-footer">
        <%= f.submit "Create Account", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
        <% end %>
          </div>
        </div>
      </div>

      <!-- MODAL FOR LOGIN -->
      <%= form_for :user, url: "/sessions", method: "post" do |f| %>
        <div id="sign-in-modal" class="modal">
          <div class="modal-content">
            <%= render partial: "layouts/sign_in", locals: { f: f } %>
          </div>
          <div class="modal-footer">
        <%= f.submit "LOG IN", class: "modal-action modal-close waves-effect waves-green btn-flat", id: "sign-in-button" %>
      <% end %>
        </div>
      </div>

      <!-- BEGIN Post Show Page -->
      <%= stylesheet_link_tag %>
      <%= yield(:head) %>
      <!-- END Post show Page -->
        <div class="col s8 push-s2">
          <% flash.each do |name, msg| %>
           <div id='toast-container'>
             <%= javascript_tag "Materialize.toast('#{msg}', 4000)" %>
           </div>
          <% end %>
        </div>

<ul id="dropdown1" class="dropdown-content" style="margin-top: 64px">
  <li><%=link_to "Barcelona", location_path("barcelona-spain") %></li>
  <li><%=link_to "London", location_path("london-uk") %></li>
  <li><%=link_to "Paris", location_path("paris-france") %></li>
  <li><%=link_to "St. Petersburg", location_path("st-petersburg-russia") %></li>
</ul>
      <%= yield %>
  </body>
</html>
